body{
    
    background-color:aquamarine;
    text-align:center
   }
   input, textarea {
    text-align:center
    display: block;
    }
    .reservation {
    padding-left: 25px;
     text-align: center; 
    }